header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  padding: 0 32px;
  border-bottom: 1px solid grey;
}

header p {
  font-size: 16px;
  color: black !important;
}

.header-nav {
  display: flex;
  flex-direction: row;
  width: 292px;
  height: 16px;
  justify-content: space-between;
}

.header-nav p {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Espacio entre el texto y el borde */
  cursor: pointer;
  transition: color 0.3s ease; /* Si quieres que el color del texto cambie también */
}

.header-nav p::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 1px; /* Grosor del borde */
  background-color: grey; /* Color del borde */
  transition: width 0.3s ease; /* Transición del borde */
}

.header-nav p:hover::after {
  width: 100%; /* El borde se expandirá completamente al hacer hover */
}

.header-RRSS {
  width: 290px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

#hamburguer-menu {
  display: none;
  cursor: pointer;
}

.header-logos {
  display: flex;
  height: 100%;
  gap: 16px;
}

.logo-container {
  border: 1px solid black;
  aspect-ratio: 1;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-items: center;
}

.logo-container:hover {
  transform: scale(1.1);
}
.logo-container > img {
  width: 20px;
  aspect-ratio: 1;
}

.lets-talk-button {
  cursor: pointer;
  background-color: black;
  border: none;
  height: 100%;
  width: 118px;
  border-radius: 48px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lets-talk-button:hover {
  transform: scale(1.1);
}

.sidebar {
  display: none;
}
#close-button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 1400px) {
  header {
    width: 100%;

    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .header-logos {
    height: auto;
    width: 100%;
    justify-content: space-around;
  }

  .logo-container {
    width: 20%;
  }

  .close-button {
    display: none;
  }
  .sidebar-button {
    gap: 13px;
    display: flex;
    flex-direction: column;
  }
  .header-nav {
    display: none;
  }

  .logo-container > img {
    width: 100%;
    padding: 10px;
  }
  .lets-talk-button {
    height: 50px;
    width: 100%;
  }

  .header-RRSS {
    display: none;
  }

  #hamburguer-menu {
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    height: 40px;
  }

  .sidebar {
    flex-direction: column;
    height: 100dvh;
    position: fixed;
    top: 0;
    display: none;
    right: 0;
    padding: 20px;
    width: 300px;
    z-index: 999;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 1);
    justify-content: space-between;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%); /* <-- Empieza fuera de pantalla */
    display: flex;
    border-left: 1px solid black;
    transition: transform 0.3s ease-in-out; /* <-- Suaviza el movimiento */
  }

  .open {
    transform: translateX(0); /* <-- Lo trae a la pantalla */
  }

  .sidebar-navigations p {
    font-size: 18px;
    display: flex;
    cursor: pointer;
    height: 50px;
    color: black;
    align-items: center;
  }

  .sidebar-navigations {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.sidebar-navigations p:hover {
  color: gray;
}
