.image-modal {
  height: 100vh; /* Altura completa de la ventana */
  width: 100vw; /* Ancho completo de la ventana */
  position: fixed; /* Asegurarse de que se quede fijo en la ventana */
  top: 0; /* Alinear a la parte superior */
  left: 0; /* Alinear a la parte izquierda */
  display: flex;
  justify-content: center; /* Centrar la imagen horizontalmente */
  align-items: center; /* Centrar la imagen verticalmente */
  z-index: 10000;
}

.image-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95); /* Fondo semitransparente */
  z-index: 9999; /* Asegurar que el overlay esté detrás de la imagen */
}

.image-modal-content {
  position: relative;
  z-index: 10000; /* La imagen debe estar por encima del overlay */
  text-align: center;
}

.close-button {
  position: absolute;
  top: -50px;
  right: -50px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10001;
  font-size: 50px;
}

.close-button:hover {
  color: wheat; /* Cambiar color al pasar el mouse */
}

.image-modal > img {
  max-width: 100%; /* La imagen no excederá el ancho de la ventana */
  max-height: 100%; /* La imagen no excederá la altura de la ventana */
  object-fit: contain; /* Mantener el tamaño natural de la imagen sin deformarla */
}
