.testimonial-card {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 24px;
  flex-shrink: 0; /* Evita que las tarjetas se encojan si no caben */
  width: 430px;
  border: 2px solid black;
}

.testimonial-comment {
  .testimonial-comment {
    font-family: "Libre Baskerville", serif; /* Añadí comillas y una fuente genérica de reserva */
    font-size: 21px;
  }
  line-height: 160%;

  font-size: 21px;
}

.testimonial-person {
  display: flex;
  flex-direction: column;
}

.testimonial-name {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600; /* 'semibold' no es una palabra clave en CSS, puedes usar 600 para simular el semibold */
}

@media (max-width: 1400px) {
  .testimonial-card {
    width: 90%;
  }
}
