#section-about-me {
  display: flex;
  justify-content: center;
  gap: 132px;
}

.about-me-image {
  width: 564px;
  height: 800px;
}

.about-me-text-content {
  width: 448px;
}

.about-me-text-content h2 {
  font-size: 36px;
  font-family: Libre Baskerville;
  margin-bottom: 16px;
}

.about-me-text-content p {
  font-family: montserrat;
  font-weight: 300; /* Peso ligero */
  font-size: 21px;
  line-height: 142%;
}

.wraped-contents {
  margin-top: 33px;
}
