#section-about-me {
  display: flex;
  justify-content: center;
  gap: 132px;
}

.about-me-image {
  width: 564px;
  height: 800px;
}
.about-me-text-content {
  width: 448px;
}

.about-me-text-content h2 {
  font-size: 36px;
  font-family: "Libre Baskerville", serif; /* Añadí comillas y una fuente genérica de reserva */
  margin-bottom: 16px;
}

.about-me-text-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300; /* Peso ligero */
  font-size: 21px;
  line-height: 142%;
}

.wraped-contents {
  margin-top: 33px;
}

@media (max-width: 1400px) {
  #section-about-me {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    gap: 20px;
  }

  .about-me-text {
    margin: auto;
    width: 100%;
    display: flex;
  }
  .about-me-text-content {
    width: 100%;
    margin: 0 5%;
  }
  .about-me-image {
    width: 100%;
    height: auto;
  }

  .about-me-image > img {
    height: 100%;
    width: 100%;
  }
}
