.header-content {
  display: flex;
  margin: auto;
  flex-direction: column;
  height: 260px;
  justify-content: space-between;
}

.h1-container {
  display: flex;
  flex-direction: column;
}

.h1-container > img {
  width: auto;
  height: auto;
}

.h1-image-container {
  margin: auto;
  height: 16px;
}

.header-content button {
  margin: 0 auto;
  cursor: pointer;
  background-color: #fee400;
  border-radius: 48px;
  height: 40px;
  border: none;
  width: 209px;
  font-family: "Montserrat", sans-serif;
  height: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.header-content button:hover {
  transform: scale(1.1);
}

.header-content button p {
  color: black;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.images-content {
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  width: 1376px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#images-content-1 {
  height: 560px;
  width: 1376px;
}

.images-content > .image-content {
  height: 100%;
  width: 448px;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px #222021 inset !important;
  -webkit-text-fill-color: inherit !important;
}
