#section-testimonial {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
}

.testimonial-title {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  gap: 24px;
  flex-direction: row;
}

#section-testimonial h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 36px;
  text-align: start;
}

.testimonial-title img {
  width: 44px;
  height: 22px;
}

.testimonial-header-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  gap: 8px;
}

.square {
  border: 2px solid black;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.selected {
  background-color: yellow;
}

#testimonial-container {
  gap: 16px;
  height: 300px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  user-select: none;
  position: relative;
}

#testimonial-container::-webkit-scrollbar {
  display: none;
}

.testimonial-container-container {
  display: flex;
  flex-direction: row;
}

.arrow-container {
  width: 5%;
  display: flex;
  opacity: 0.1;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.arrow-container:hover {
  opacity: 1;
}
.arrow-container > img {
  width: 100%;
}

.testimonial-container-hide,
.testimonial-container-hide:hover {
  opacity: 0;
  cursor: none;
}
